/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333;
  background-color: #f0f0f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 20px;
}

#warehouse-form-div {
  flex: 1;
  margin-right: 20px;
}

#warehouse-table-div {
  flex: 1;
}

.WarehouseForm {
  border: 2px solid #333;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.WarehouseTable {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 5px;
  overflow: hidden;
}

.WarehouseTable th,
.WarehouseTable td {
  padding: 12px;
  text-align: left;
}

.WarehouseTable th {
  background-color: #f0f0f0;
}

.WarehouseTable tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.WarehouseTable tbody tr:hover {
  background-color: #e0e0e0;
}

.block {
  padding: 10px;
}

.form {
  padding: 10px;
} */

