.warehouse-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
    color: #fff;
  }
  
  .warehouse-table th,
  .warehouse-table td {
    padding: 12px;
    text-align: left;
  }
  
  .warehouse-table th {
    background-color: #acacac;
  }
  
  .warehouse-table tbody tr:nth-child(even) {
    background-color: #555;
  }
  
  .warehouse-table tbody tr:hover {
    background-color: #666;
  }