.navbar {
  background-color:rgb(173, 187, 199);
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-company {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  margin-right: 10px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
}